<!--
    Website Development and Databases
    Horizon Hotels
    Cameron Povey
    21011010
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Horizon Hotels</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/mtv8kua.css">
        <link rel="icon" href="../static/css/media/favicon.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script rel="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
    </head>
    <body>
        <div class="background jumbotron text-center w-100 p-3">
            <div class="jumbotron text-center">
                <a href="/">
                    <img src="{{ url_for('static', filename='css/media/HH-logo.png') }}" class="logo-icon" alt="Horizon Hotels">
                </a>
            </div>
        </div>
        <div class="text-center">
            <div class="bg-dark text-white p-3">
                <h1>Image Refrences</h1>
                <h3>All photos used under the Attribution 2.0 Generic (CC BY 2.0) Licence</h3>
                <p>https://creativecommons.org/licenses/by/2.0/</p>
            </div>
            <div class="p-2">
                <p>Aberdeen: Photo by Rab Lawrence from Flickr</p>
                <p>Belfast: Photo by Mark Gunn from Flickr</p>
                <p>Birmingham: Photo by Spixey from Flickr</p>
                <p>Bristol: Photo by wwikgren from Flickr</p>
                <p>Edinburgh: Photo by Sean MacEntee from Flickr</p>
                <p>Glasgow: Photo by Nick Amoscato from Flickr</p>
                <p>London: Photo by fsse8info from Flickr</p>
                <p>Manchester: Photo by Phil Fiddyment from Flickr</p>
                <p>Norwich: Photo by dom fellowes from Flickr</p>
                <p>Newcastle: Photo by jason goulding from Flickr</p>
                <p>Nottingham: Photo by shining.darkness from Flickr</p>
                <p>Oxford: Photo by Michael Gwyther-Jones from Flickr</p>
                <p>Plymouth: Photo by Abi Skipp from Flickr</p>
                <p>Swansea: Photo by Leia Fee from Flickr</p>
                <p>PayPal: <a href="https://en.logodownload.org/paypal-logo/">https://en.logodownload.org/paypal-logo/</a></p>
                <p>Stripe: <a href="https://logodownload.org/stripe-logo/stripe-logo/">https://logodownload.org/stripe-logo/stripe-logo/</a></p>
                <p>Amazon Pay: <a href="https://commerceguys.com/blog/amazon-pay-and-drupal-commerce">https://commerceguys.com/blog/amazon-pay-and-drupal-commerce</a></p>
            </div>
        </div>
            
    </body>
</html>