<!--
    Website Development and Databases
    Horizon Hotels
    Cameron Povey
    21011010
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Horizon Hotels</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/mtv8kua.css">
        <link rel="icon" href="../static/css/media/favicon.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script rel="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
    </head>
    <body>
        <div class="background jumbotron text-center w-100 p-3">
            <div class="jumbotron text-center">
                <a href="/">
                    <img src="{{ url_for('static', filename='css/media/HH-logo.png') }}" class="logo-icon" alt="Horizon Hotels">
                </a>
            </div>
        </div>
        <div class="text-center">
            <div class="bg-dark text-white p-3">
                <h1>Privacy Policy and Terms of Service</h1>
            </div>
            <div class="p-5">
                <p>“Horizon Hotels LLC” will henceforth be referred to as “we”,”our,”us” and “Horizon Hotels”. We have the right to change our Privacy Policy and Cookie Policy at any time and for any reason. When doing so we will notify users where applicable. As a user of Horizon Hotels it is your responsibility to keep yourself up to date with the privacy policy. With your continued use of our website you accept and agree to any changes that have been made since registration and initial agreement to our Privacy policy and Cookie Policy.</p>
                <br>
                <h3>Information that we gather</h3>
                <p>When creating a user account with us, you consent to provide us with the following information: First Name, Last Name and Email address. This information is required for use of our services. By signing up you consent to contact from Horizon Hotels through the provided email.</p>
                <br>
                <h3>Our use of cookies</h3>
                <p>Horiozn Hotels may use your cookies to store vital information about you and to improve your Horizon Hotel experience.</a></p>
                <br>
                <h3>Links to third-parties</h3>
                <p>Our site may direct you to third-party website, if you visit these sites, Horizon Hotels is not held responsible for any privacy or data you give to these websites. To stay safe read their privacy policies.</p>
                <br>
                <h3>What we do with your data</h3>
                <p>We will not distribute or share your information with any thrid party unless it is required by law. We may use your infomation provided to contact you about your bookings.</p>
                <br>
                <h3>Payment Policy</h3>
                <p>Our payment is dealt with third party services, we are not responsible for any issues this may bring and we reccommend you contact the service provider you select</p>
                <br>
                <h3>Age Restrictions</h3>
                <p>You are not permitted to use this site or provide information to us if you are under the age of 18</p>
                <br>
                <h3>Contact Us</h3>
                <p>Feel feel to conact us at info@horizonhotels.com</p>
            </div>
        </div>
            
    </body>
</html>